* {
    margin: 0;
    font-family: cursive;
}

.nav{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.papan-score{
    border: solid;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 25px;
}

.papan-player{
    background-color: rgb(187, 59, 70);
    width: 150px;
}

.papan-computer{
    background-color: rgb(55, 161, 161);
    width: 150px;
}

.nama-player{
    font-size: 20px;
    border-bottom: solid;
    padding: 5px;
}

.nama-komputer{
    font-size: 20px;
    border-bottom: solid;
    padding: 5px;
}

.score-player{
    font-size: 24px;
}

.score-computer{
    font-size: 24px;
}

.papan-permainan{

    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.image-player{
    max-width: 150px;
}

.image-computer{
    max-width: 150px;
}

.papan-button{

    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.papan-button button{
    padding: 15px;
    width: 150px;
    font-size: 16px;
}

.papan-button button:hover{
    cursor: pointer;
}